@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Essa aplicação consiste em um desafio onde a premissas iniciais era o desenvolvimento de um CRUD</p>
<hr />
<p>O Crud foi desenvolvido com ASP.NET Core no padrão MVC</p>

