@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Antonio Filomeno<br />
    Rincão, SP Brasil<br />
    <abbr title="Celular">Celular: </abbr>
    9 96357385
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">antoniofilomeno019@gmail.com</a><br />
</address>
